ol, ul {
    padding-left: 30px;
}

.game-board {
    margin: 30px 10px 0px 20px;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-info {
    margin: 30px 0px 0px 20px;
}