@import url('https://fonts.googleapis.com/css?family=Gruppo&display=swap');

.App {
  margin-top: 20vh;
  text-align: center;
  background-color: #7362dd;
  width: 400px;
  border-radius: 18px;
  margin-left: 35vw;
  padding: 10px;
  -webkit-box-shadow: 4px 4px 16px -2px rgba(0,0,0,0.68);
  -moz-box-shadow: 4px 4px 16px -2px rgba(0,0,0,0.68);
  box-shadow: 4px 4px 16px -2px rgba(0,0,0,0.68);
}

h2 {
  font-size: 26px;
  font-family: 'Gruppo', cursive;
  color: #fff;
}

label {
  font-size: 20px;
  font-family: 'Gruppo', cursive;
  font-weight: 600;
  color: #fff;
}

input {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  color:rgb(104, 104, 104);
  font-size: 20px;
  font-weight: 800;
  font-family: 'Gruppo', cursive;
}

input:focus {
  color: #333;
}

button {
  font-family: 'Gruppo', cursive;
  padding: 5px;
  border-radius: 5px;
  border: 2px #333;
  color: #333;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  background-color: #F0FFFF;
  cursor: pointer;
}

footer p{
  color:#FFF;
  text-align: center;
  margin-top: 322px;
  font-size: 16px;
}